@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,500;1,900&display=swap');

/* 전체선택자
 */

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content:
    url(../img/menu1.png) url(../img/menu2.png) url(../img/menu3.png) url(../img/menu4.png) url(../img/slide_banner2.jpg);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #444;
  word-break: keep-all;
}

ul {
  list-style: none;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}



/* 디자인시스템 */

.center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-30{
  margin-bottom: 30px;
}

.fw600{
  font-weight: 600;
}

.flex {
  display: flex;
}

.justify_center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.flex_direction_column {
  flex-direction: column;
}


.white {
  color: #fff;
}

.red {
  color: #ff044b;
}

.gray {
  color: #aaa;
}
.small{
  font-size: 0.8rem;
}

p,
.p {
  font-size: 1rem;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}
.h2{
  font-size: 3rem;
}
.h3 {
  font-size: 2.5rem;
}

.h4 {
  font-size: 2rem;
  font-weight: 600;
}
.h5{
  font-size: 1.7rem;
}

.h6{
  font-size: 1.3rem;
}

.container {
  width: 100%;
  overflow: hidden;
}

/* 네비게이션바 */

nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 50px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  z-index: 999;
}

nav li {
  width: 120px;
  height: 70px;
  line-height: 70px;
  float: left;
  cursor: pointer;
}


nav li:hover>a {
  color: #ff044b;
  transition-duration: 300ms;
}

.gnb_menu_wrap {
  width: 480px;
  height: 70px;
  float: left;
}

.to_right {
  float: right;
}

.nav_social {
  height: 70px;
  float: right;
  margin-left: 150px;
}

.nav_social>a {
  margin: 0 10px;
}

.nav_social>a:first-child {
  margin-right: 20px;
}


main {
  padding-top: 70px;
}

.hamburger {
  display: none;
}

/* 배너섹션 */
#slider_banner {
  height: 600px;
  width: 100%;
}

#slider_banner>div {
  height: 100%;
}

.div_1 {
  height: 600px;
  width: 100%;
  align-items: flex-end;
  text-align: right;
  background: url(../img/slide_banner1.jpg) no-repeat center;
  background-size: cover;
  float: left;
}

#slider_banner .text_wrap {
  margin-top: 100px;
  margin-right: 13%;
}

.visit_instagram {
  width: 100%;
  height: 70px;
  line-height: 20px;
  border: 1px solid #ddd;
}

.visit_instagram a {
  margin: 0 auto
}

.visit_instagram img {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.visit_instagram p {
  display: block;
  width: 110%;
}


/* 2번째 배너 */
.second_banner {
  height: 500px;

}

.second_banner_flexwrap {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.left_wrap,
.right_wrap {
  background-color: antiquewhite;
}

.left_wrap {
  padding-left: 7%;
  width: 45%;
  /* min-width: 490px; */
  background-image: url(../img/menu_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  text-align: left;
}

.left_wrap .h3 {
  margin-bottom: 20px;
}

.second_banner_button {
  margin-top: 20px;
  border: 2px #000 solid;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.second_banner_button:hover,
.left_wrap:hover .second_banner_button {
  border: 2px #ff044b solid;
  background-color: #fff;
  color: #ff044b;
  transition-duration: 300ms;
}

.right_wrap {
  width: 55%;
  /* min-width: 615px; */
  background: url(../img/interior.jpg) no-repeat left top;
  background-size: cover;
  padding-left: 80px;
}

.right_wrap:hover>.h3 {
  color: #ff044b;
  transition-duration: 300ms;
}

.right_wrap>.h3 {
  margin-bottom: 20px;
}

/* 메뉴 섹션*/
.menu_section {
  width: 100%;
  overflow: hidden;
}

.menu_wrap {
  width: 70%;
  min-height: 640px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu_card {
  width: 340px;
  height: 550px;

  border-top: 0px solid #ff044b;
}

.menu_card>img {
  width: 200px;
}

.menu_card:hover {
  border-top: 12px solid #ff044b;
  padding-bottom: 12px;
  transition-duration: 300ms;
}

.menu_card:hover>img {
  width: 210px;
  transition-duration: 300ms;
}

.eng_menu {
  text-align: center;
}


/* 알림섹션 */

.notice {
  width: 100%;
  height: 600px;
}

.notice_left_wrap {
  padding: 50px;
  height: 600px;
  float: left;
  width: 55%;
  background-color: rgb(241, 241, 241);
}

.notice_left_wrap>img {
  width: 200px;
  position: relative;
  float: right;
}


.notice_right_wrap {
  height: 600px;
  float: right;
  width: 45%;
}

.notice_right_top li {
  color: #fff;
}


.notice_right_top,
.notice_right_bot {
  padding: 50px;
  width: 100%;
  height: 300px;
  background-color: #d98574;
  color: #fff;
  padding-left: 70px;
}

.notice_right_top,
.notice_right_bot li {
  font-size: 1.3rem;
}

.notice_right_bot {
  background-color: #ffefec;

}

.notice_header {
  display: block;
  margin-bottom: 20px;
}

.floating {
  margin-left: 70px;
  animation-duration: 1s;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes floating {

  0% {
    margin-bottom: -10px;
  }

  100% {
    margin-bottom: 10px;
  }
}

@keyframes floating_2 {

  0% {
    margin-bottom: 10px;
  }

  100% {
    margin-bottom: -10px;
  }
}

/* 푸터 */

footer {
  border-top: 1px solid #ddd;
  width: 100%;
  height: 120px;
}

.footer_wrap {
  width: 100%;
  padding: 0 13%;
  justify-content: space-between;
}

.footer_wrap a {
  margin: 0 15px;
}

/* 메뉴 페이지 */

.menu_banner{
  width: 100%;
  height: 300px;
  background-image: url(../img/coffee_banner.jpg);
}

.menu_detail{
  width: 100%;
  height: 150px;
  padding-left: 13%;
}

/* 소개페이지 */
.first_main_img{
  width: 100%;
  height: 70vh;
  background-image: url(../img/leaves.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.first_main_img >span{
  opacity: 1;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-name: fade_in;
  animation-timing-function: ease;
  text-align: center;
  
}
.second_main_img{
  width: 100%;
  min-height: 80vh;
  padding: 50px 0;
  margin-top: 100px;
}

.value_wrap{
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.core{
  background-color: #eee;
  width: 250px;
  height: 250px;
  border-radius: 250px;
  margin: 30px;
}

.third_main_img{
  width: 100%;
  min-height: 80vh;
  margin-top: 100px;
  padding: 50px 0;
}

.logo_system{
width: 100%;
padding: 30px;
max-width: 590px;
min-height: 50vh;
}

.logo_system::before{
  content: "";
  margin-bottom: 30px;
  width: 100px;
  border-bottom:4px solid #ff044b;
}

.brand_logo{
  width:100%;
  max-width: 320px;
  margin: 50px auto;
}
.character{
  width: 100%;
  padding: 50px;
  overflow: hidden;
  text-align: center;
}
.character_wrap{
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.character_wrap>img{
  max-height: 250px;
  padding:30px;
  margin: 10px 0;
}


.color_system{
  padding: 30px;
  min-height: 50vh;
}
.color_chip{
  width: 50px;
  height: 50px;
  border: 1px solid #aaa;
  float: left;
  margin: 15px;
}
.main_color_heading,.sub_color_heading{
  margin-left: 15px;
  display: block;
}

.main_color{
  margin-right: 50px;
}



.main_1{
  background-color: #ff044b;
}
.main_2{
  background-color: #fefff8;
}

.sub_1{
  background-color: #ffa596;
}
.sub_2{
  background-color: #fdead2;
}
.sub_3{
  background-color: #fdead2;
}
.sub_4{
  background-color: #edcad6;
}



/* 공지페이지 */

.notice_banner{
  width: 100%;
  height: 300px;
  background-image: url(../img/./interior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

td:first-child {
  width: 13%;

}

td {
  padding: 15px 30px;
  border-bottom: 1px solid #ebebeb;
  font-weight: 300;
}

td:nth-child(2) {
  text-align: left;
  cursor: pointer;
}

td:nth-child(2):hover {
  color: #ff044b;
  transition-duration: 300ms;
}

td:last-child {
  width: 13%;

}

tr:first-child>td {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  font-size: 19px;
  text-align: center;
}

tr:first-child td {
  cursor: default;
  font-weight: 500;
}

tr:first-child td:hover {
  color: #242424;
}


@keyframes fade_in {

  from {
    margin-bottom: -10px;
    opacity: 0;
  }

  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}


@media screen and (max-width:1120px) {

  .left_wrap,
  .right_wrap {
    width: 100%;
  }

  .right_wrap {
    padding-left: 7%;
  }

}

@media screen and (max-width:1060px) {
  .menu_wrap {
    justify-content: center;

  }

  .gnb_menu_wrap {
    margin: 0 auto;
  }

  .nav_social {
    margin: 0 auto;
    margin-left: 30px;
  }


  .notice {
    flex-wrap: wrap;
  }

  .notice_left_wrap {
    width: 100%;
    min-width: 485px;
  }

  .notice_right_wrap {
    width: 100%;
    min-width: 320px
  }
}

@media screen and (max-width:930px){
.value_wrap{
  justify-content: center;
}
}
@media screen and (max-width:850px) {
  nav {
    justify-content: center;
  }

  .visit_instagram {
    display: none;
  }

  .gnb_menu_wrap {
    display: none;
  }

  .hamburger {
    display: block;
    width: 48px;
    height: 68px;
    overflow: hidden;
    position: fixed;
    text-align: center;
    background-color: #fff;
    z-index: 999;
  }

  .hamburger>img {
    padding: 10px;
    object-position: left center;
    display: block;
  }

  .hamburger>li {
    display: block;
    height: 0;
    padding: 40px 30px;
    text-align: left;
  }

  .hamburger>li>a{
    color: #fff;
  }
  .hamburger>li>a:hover{
    font-size: 1.2rem;
    transition-duration: 200ms;
  }

  .hamburger:hover{
    height: 100%;
    width: 300px;
    background-color: #ff044b;
    transition-duration: 200ms;
  }
  .hamburger:hover{
margin-bottom: 150px;
  }

  .hamburger:hover>img{
  opacity: 0;
  }

  .nav_social {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .visit_instagram {
    display: none;
  }
}

@media screen and (max-width:722px) {
  .character_wrap{
    justify-content: center;
  }
}